
.pageMenu {
   position: sticky;
   top: 0;
   height: var(--menu-height);
   background: var(--menu-background-color);
   overflow: hidden;
   z-index: 10;
}

.pageMenu ul {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.pageMenu a {
   line-height: var(--menu-height);
   color: var(--background-color);
   text-decoration: none;
   font-size: 1rem;
}

.pageMenu a:hover {
   text-decoration: underline;
}

.current[aria-current="page"] {
   text-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}
